body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 990px;
    background-image: url("../images/fb_background.jpg");
    background-size:auto;
	margin: 15px auto;
	padding: 15px 0;
}

table{
    width: 100%;
}
td{
    text-align: right;
}
td h2{
    text-align: left;
}
article, aside, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
article, aside {
	margin-top: 1.5em;
	margin-bottom: 1em;	
}

a { font-weight: bold; }
a:link, a:visited { color: white; }
a:hover, a:focus { color: black; }

p {
	font-size: 95%;
	padding-bottom: 0.5em;
     text-align: justify;
}

/*table styling*/
main table,main th,main td {
    border: 1px solid black;
    border-collapse: collapse;
}
main th, main td {
    padding: 5px;
    text-align: left;
}
main th {
    text-align: center;
}
/* the styles for the header */
header { 
	padding-bottom: 2em;
}
header h2 {
	font-size: 220%;
    color: white;
    text-shadow: 2px 3px 0 black;
    margin-left: 120px;
	margin-bottom: 0.25em;
}
header img { 
	float: left;
	margin-left: 20px;
}


/* the styles for the article */
article {
	width: 535px;
	margin-left: 20px;
	padding-right: 25px;
	float: right;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
    
}
article h1 {
	font-size: 170%;
	margin-bottom: 0.35em;
}
article h3{
    color:cyan;
}

/* the styles for the sidebar */
aside {
	width: 300px;
	float: right;
	padding: 5px;
	background-color: #728BC3;
	margin-right: 10px;
}
aside h2 {
	font-size: 130%;
	padding-bottom: .5em;
}
aside ul { 
	margin-top: 0;
	margin-bottom: 0.5em; 
}
aside li {
	font-size: 95%;
	padding-bottom: 0.35em;
}

/* the styles for the footer */
footer {
	clear: both;
	border-top: 2px solid #93C061;
	padding-top: 0.7em;
}
footer p {
	font-size: 80%;
	text-align: right;
	margin-right: 20px;
}
