*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	display:block;
}

body{
	font-size:0.825em;
	color:#fcfcfc;
	font-family:Arial, Helvetica, sans-serif;
	
}

/* Hyperlink Styles: */

a, a:visited {
	align: center;
	/*border: 3px solid black;*/
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
    font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px black;
}

h1{
	/* The logo text */
    color: yellow;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
    color: yellow;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
.go_up {
	float: right; 
	/*padding-right: 15px;  */
}
p{
	line-height:1.5em;
	padding-bottom:1em;
     text-align: justify;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}


article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.3em 0;
}



/* navigation bar styles*/
ul {
    list-style-type: none;
} 

li a {
     display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
}

li a:hover {
    background-color: #111;
}

#nav_menu ul {
    list-style-type: none;
    position: relative;
    background-color: #333;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}              
#nav_menu ul ul li { 
    float: none;
}
#nav_menu ul li:hover > ul {
    display: block;
    overflow: visible;
}
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}


/* Article styles: */

#bgImage{
    background-image: url("../images/background.jpg");
    z-index: -1;
    height: 320%;
    width: 100%;
    position: absolute;
    filter: blur(1px);
    -webkit-filter: blur(2px);
    background-repeat: repeat;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

section #article1{
    background-color: #415D9F;
    color:aqua;
    box-shadow: 8px 8px 12px 5px rgba(65, 93, 159, 0.43);
}
section #article2{
    background-color: white;
    color:black;
    box-shadow: 8px 8px 12px 5px rgba(255, 255, 255, 0.5)
}
section #article3{
    background-color:#84C1F2;
    box-shadow: 8px 8px 12px 5px rgba(132, 193, 242, 0.42)
}
section #article4{
    background-color: #CE3C94;
    box-shadow: 8px 8px 12px 5px rgba(206, 60, 148, 0.55);
}
article{
	margin:3em 0;
	padding:20px;
	text-align: justify;
	/*text-shadow:0 2px 0 black;*/
}
.shift_image{
    float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:350px;
}
picture{
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:350px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

/* Footer styling: */


footer {
	clear: both;
	border-top: 2px solid #f2972e;
	padding-top: .7em;
    font-weight: bold;
    color: Black;
    font-size: 150%;
}
footer p {
	font-size: 80%;
	text-align: right;
	margin-right: 20px;
    background-color: darksalmon;
}


