/* type selectors */
html {
    background-image: url(../images/Twitter_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
   text-align: right;
    margin-right: 5%;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 7%;
	padding: 15px 0;
}
section, aside, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
section, aside {
	margin-top: 1.5em;
	margin-bottom: 1em;	
}

a {
	font-weight: bold;
}
a:link, a:visited { color: #0E7A97; }
a:hover, a:focus { color: black; }

p {
	font-size: 95%;
	padding: .25em 0;
    text-align: justify;
}

/* the styles for the section */
main section #stack_icon{
    width: 20px;
}
section {
	width: 60%;
	margin-left: 10%;
	margin-top: 5%;
/*	padding-right: 25px;*/
/*	float: right;	*/
}
section h1 {
	font-size: 170%; 
	margin-bottom: 0.35em;
    content: "\f00c";
}
section h3{
    color: #0E7A97;
}
section #logo_icon{
     
    font-family: FontAwesome;
}
#contact_us { margin-top: 1em; }
a.date_passed  { color: gray; }

/* the styles for the sidebar */
ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
aside {
	float: right;
	background-color: #ffebc6;
	margin-right: 2%;
    width: 20%;
    font-size: 80%;
    border-radius: 15%;
    padding: 3%
}
aside h2 {
	font-size: 130%;
	padding-bottom: .5em;
}
aside h3 {
	font-size: 100%;
	color: #931420;
	padding-bottom: .5em;
}
aside p { margin-bottom: .5em; }

/* the styles for the footer */
footer {
	clear: both;
	border-top: 2px solid #f2972e;
	padding-top: .7em;
}
footer p {
	font-size: 80%;
	text-align: right;
	margin-right: 20px;
}
#back-icon {
    display: none;
}
#back-link{
    text-align: right;
}

#stack_icon{
    
}
@media only screen and (max-width:480px) {
  /* For mobile phones: */
    #back-icon {
        display: block;
        width: 10%;
        float: right;
        margin-right: 2%
    }
    #back-link {
        display: none;
    }
    .center {
        margin-top: 50%;
        width:80%;
    }
    .foot{
        width: 100%;
    }
    .right{
       display:none;
    }
}